body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #0E041D;
    color: #fff;
}

.container{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0;
}

.hom{
    display: flex;
    margin-top: 50px;
}

#hom__spa221{
    color: blueviolet;
}

.hom__1{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    padding-bottom: 60px;
}

.hom__1 h1{
    font-size: 45px;
}

.hom__2{
    width: 55%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
 
}

.hom__2 img {
    width: 100%;
    z-index: 20;
}

.hom__1__btn{
    padding: 10px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: blueviolet;
    transition: all 0.3s ease-in-out;
}

.hom__1__btn:hover{
    background-color: #fff;
    color: blueviolet;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.pos1{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 320px;
    background-color: rgba(208, 171, 243, 0.072);
    border-radius: 16px;
}

.pos2{
    position: absolute;
    bottom: -10px;
    left: -30px;
    width: 300px;
    height: 230px;
    background-color: rgba(208, 171, 243, 0.072);
    border-radius: 16px;
}

.hom_cont{
    padding: 40px;
    padding-bottom: 30px;
    background-color: blueviolet;
}

.hom_cont div p{
    padding: 0;
    margin: 0;
    font-size: 45px;
    font-weight: 600;
    line-height: 30px;
}

.hom__span{
    font-weight: 100;
}

.hom_cont div span{
    font-size: 20px;
    font-weight: 400;
}

.pos3 {
    width: 1300px;
    border: 1px solid transparent;
    bottom: 15px;
    right: 10%;
    z-index: 88;
    height: 125px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box-container {
    display: flex;
    gap: 30px;
    background: transparent;
  }
  
  .box {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border-radius: 16px;
    padding:30px;
    color: white;
    width: 220px;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  .box:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  
  .box img {
    width: 40px;
    height: 40px;
  }
  
  .box h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
  }
  
  .box p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
  }
  
.hom__bxs{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.h-boxs{
    width: 28%;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.h-boxs:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.h-boxs img{
    width: 100%;
    margin-bottom: -5px;
    border-top: 1px solid #ffffffa9;
    border-radius: 20px 20px 0 0;
}

.ranginfilter{
    padding: 20px;
    height: 140px;
    line-height: 24px;
    border-bottom: 1px solid #ffffffa9;
    background-color: rgba(255, 255, 255, 0.115);
    border-radius: 0 0 20px 20px;
}

.raning-p{
    margin: 40px;
    padding-right: 90px;
    line-height: 30px;
}

.baner{
    text-align: center;
    margin-top: 100px;
    line-height: 20px;
}

.baner h1{
    font-size: 45px;
}

.cont_divs{
    display: flex;
    margin-top: 50px;
}

.divs{
    width: 50%;
    padding: 20px;
    line-height: 30px;
}

.divs img{
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.divs img:hover{
    transform: scale(1.06);
    transition: all 0.3s ease-in-out;
}

.btn{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    border-top: 1px solid #ffffffa9;
    border-bottom: 1px solid #ffffffa9;
    background-color: rgba(255, 255, 255, 0.115);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-color: #f5eaea46;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

.decing{
    padding: 30px;
}

.decing button{
    margin-top: 30px;
}

.buton{
    padding: 13px 30px;
    background-color: blueviolet;
    border-radius: 8px;
    color: #fff;
    border: none;
    margin: 70px 0;
    transition: all 0.3s ease-in-out;
}

.buton:hover{
    transform: scale(1.1);
    background-color: rgba(49, 44, 44, 0.242);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.204);
    transition: all 0.3s ease-in-out;
}

.btn_conts{
    display: flex;
    justify-content: center;
}

.posinbx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.posin_bx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 25%;
    padding: 60px 25px;
    background-color: #ffffff11;
    border-radius: 16px;
    border-top: 1px solid #ffffffa9;
    border-bottom: 1px solid #ffffffa9;
    transition: all 0.3s ease-in-out;
}

.posin_bx:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.posin_bx p{
    width: 300px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}


@media screen and (max-width: 450px) {
    .hom{
        flex-direction: column;
       
    }

    .hom__1{
        width: 100%;
    }

    .hom__1 h1{
        font-size: 35px;
        font-weight: 700;
    }

    .hom__2{
        width: 100%;
    }

    .hom__2 img{
        width: 100%;
        position: relative;
    }

    .hom__2 img{
        margin-top: -100px;
    }

    .pos3{
        flex-wrap: wrap;
        width: 100%;
    }

    .box-container{
        flex-wrap: wrap;
        width: 100%;
        padding-left: 60px;
    }

    .box{
        margin-top: -40px;
        width: 27%;
        height: 15px;
        margin-bottom: 20px;
    }

    .box h3{
        font-size: 18px;
    }

    .box p{
        font-size: 11px;
    }
    
    .baring{
        width: 20px;
        height: 20px;
        margin-top: 0 !important;
    }

    .hom__bxs{
        flex-direction: column;
        width: 100%;
    }

    .h-boxs{
        width: 90%;
        margin: 20px;
    }

    .h-boxs img{
        width: 100%;
    }

    .raning-p{
        font-size: 14px;
        text-align: center;
        padding: 15px;
    }

    .cont_divs{
        flex-direction: column;
        width: 100%;
    }

    .divs{
        width: 90%;
    }

    .divs img{
        width: 100%;
    }
    
    .order{
        order: 1;
    }

    .orgender{
        order: 2;
    }

    .posinbx{
        flex-direction: column;
        width: 88%;
        margin: 0 auto;
    }

    .posin_bx{
        width: 90%;
    }
    
    
}
